<%- @title = 'Base Records' -%>

<%= form_tag root_path, :method => :get do %>
  <%= text_field_tag 'q', params[:q], :maxlength => 40 %>
  <%= submit_tag 'Search' %>
<% end %>

<table class="standard">
<%- if @base_records.blank? -%>
  <tr>
    <td><em>No records found.</em></td>
  </tr>
<%- else -%>
  <tr>
  <%- @base_record_fields.each do |field| -%>
    <th><%= sort_link('base_records', field.to_s, params) -%></th>
  <%- end -%>
    <th> </th>
  </tr>

  <%- @base_records.each do |base_record| -%>
  <tr class="<%= cycle('odd', 'even') -%>">
  <%- @base_record_fields.each do |field| -%>
    <td><%= base_record.send field -%></td>
  <%- end -%>
    <td class="crud_links"><%= crud_links(base_record, [:show]) -%></td>
  </tr>
  <%- end -%>
<%- end -%>
</table>