<%- @title = @base_record.businessname -%>

<fieldset class="form_container">
  <%= legend_tag 'About' -%>

<%- LocalezeImport::MODEL_ATTRIBUTES[BaseRecord][:fields].each do |field| -%>
  <div class="form_column">
    <%= faux_field field.to_s.titleize, @base_record.send(field) -%>
  </div>
<%- end -%>
</fieldset>

<div class="link_block attached">
  <%= link_to 'Back', base_records_path, :class => 'link_button' -%>
</div>

<fieldset class="form_container">
  <%= legend_tag 'Company Attributes' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyAttribute} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company Headings' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyHeading} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company Languages' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyLanguage} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company Payment Types' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyPaymentType} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company Phones' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyPhone} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company Sics' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanySic} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Company unstructureds' -%><br />
  <%= render :partial => 'index', :locals => {:model => CompanyUnstructured} -%>
</fieldset>

<fieldset class="form_container">
  <%= legend_tag 'Custom Attributes' -%><br />
  <%= render :partial => 'index', :locals => {:model => CustomAttribute} -%>
</fieldset>