<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= @title -%></title>
    <%= stylesheet_link_tag 'application' -%>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="branding"></div>
        <div id="navigation">
          <ol class="breadcrumbs"><%= admin_breadcrumbs.map{ |text, path| "<li>#{link_to_unless(path.blank?, text, path)}</li>" }.to_s.html_safe -%></ol>
          <%- if user_signed_in? -%>
            <ul id="account_links">
              <li><%= current_user.email -%></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path -%></li>
            </ul>
          <%- end -%>
        </div>
      </div>
      <div id="page_header">
        <h1><%= @page_title || @title -%></h1>
      </div>
      <div id="content_area">
        <%- flash.each do |name, msg| -%><%- if name != :recaptcha_error -%><%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_#{name}" -%><br/><%- end -%><%- end -%>
        <%= yield -%>
      </div>
      <div id="footer"><p>Copyright © 2008-<%= Time.zone.now.year -%> SEO Logic. All rights reserved.</p></div>
    </div>
  </body>
</html>